#!/bin/bash 

source ../common/utils

OUT=out
RESULTS=experiments 
PERF_LOG=$OUT/perf.txt
CLIENT_LOG=$OUT/client-result.txt
CLIENT_SUMMARY=$OUT/summary.txt

HADOOP=zilutian/hadoop:amd64
MASTER_IMAGE=zilutian/data-analytics 
MASTER_CONTAINER=master
WORKER_CONTAINER=slave

NET=hadoop-net
CWD=`pwd`
OPERATIONS_FILE=operations.txt

LOCKDIR=/tmp/data-analytics.lock

NUM_WORKERS=${#WORKER_CPUS[@]}
WORKER_CPUS_STR=$(cvt_cpu)

