#!/bin/bash 

source ../common/requirements

SERVER_CPUS=
CLIENT_CPUS=

DEV=1

PLAT=$(get_platform)
if [[ $PLAT = "x86" ]]; then
    source ../common/events_x86
#    JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
elif [[ $PLAT = "aarch64" ]]; then
    source ../common/events_aarch64
#    JAVA_HOME=/usr/lib/jvm/java-8-openjdk-arm64 
else
    echo "Platform unsupported"
    exit
fi

PERF_EVENTS=$INST,$CYCLES,$UOPS_RETIRED_U,$UOPS_RETIRED

