#!/bin/bash 

source ../common/utils

OUT=out   
RESULTS=experiments
PERF_LOG=$OUT/perf.txt
CLIENT_LOG=$OUT/client-result.txt
CLIENT_SUMMARY=$OUT/summary.txt
UTIL_LOG=$OUT/util.txt

SERVER_IMAGE= 
CLIENT_IMAGE=

NET=data_caching_net

SERVER_CONTAINER=dc-server
CLIENT_CONTAINER=dc-client

CWD=`pwd`

