#!/bin/bash 

source ../common/utils

OUT=out
RESULTS=experiments 
PERF_LOG=$OUT/perf.txt
CLIENT_LOG=$OUT/client-result.txt
CLIENT_SUMMARY=$OUT/summary.txt
UTIL_LOG=$OUT/util.txt
DATASET_LOG=$OUT/dataset_log.txt
RATE_LOG=$OUT/rate.txt
SOCKET_LOG=$OUT/socket.txt

CLIENT_CONTAINER=media_streaming_client
SERVER_CONTAINER=media_streaming_server
DATASET_CONTAINER=media_streaming_dataset


CLIENT_IMAGE=cloudsuitetest/media-streaming:client_new
SERVER_IMAGE=cloudsuitetest/media-streaming:server_mod
DATASET_IMAGE=cloudsuite/media-streaming:dataset

RATES_FILE=rates.txt

#NET=media_streaming_net
NET=host
CWD=`pwd`
